[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.3"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
python-dotenv = "*"
mixer = "*"
pytest-cov = "*"
pytest-django = "*"
passlib = "*"
pyjwt = "*"
celery = "*"
redis = "*"
sendgrid = "*"
cloudinary = "*"
pytest-env = "*"
django-cors-headers = "*"
requests = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.7"
